:root {
    --color-dark: #3E362E;
    --color-brown: #865D36;
    --color-tan: #93785B;
    --color-clay: #AC8968;
    --color-taupe: #A69080;
    --color-white: #ffffff;
    --color-black: #000000;
  }
  